@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a;
  color: white;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
